In [1]:
import pandas as pd
from sqlalchemy import create_engine
import pymysql
import mysql.connector

In [2]:
mydb = mysql.connector.connect(
  host=,
  user=,
  password=,
  database=,
  use_pure=True
)

print(mydb)

<mysql.connector.connection.MySQLConnection object at 0x7b77467f40>

In [3]:
mycursor = mydb.cursor()

In [4]:
engine = create_engine('mysql+pymysql://user:password@host/databse')

In [7]:

#Queries used for Tableau Project

d1 = pd.read_sql("""SELECT 
                    SUM(new_cases) AS total_cases, 
                    SUM(CAST(new_deaths AS SIGNED)) AS total_deaths, 
                    SUM(CAST(new_deaths AS SIGNED))/SUM(New_Cases)*100 AS DeathPercentage

                    FROM CovidDeaths

                    WHERE continent IS NOT NULL 
                    ORDER BY 1,2
                    LIMIT 15""", engine)

In [8]:
#2. 

#We take these out as they are not inluded in the above queries and want to stay consistent
#European Union is part of Europe


d2 = pd.read_sql("""SELECT 
                    location, 
                    SUM(cast(new_deaths AS SIGNED)) AS TotalDeathCount

                    FROM CovidDeaths

                    WHERE continent IS NULL 
                    AND location NOT IN ('World', 'European Union', 'International')
                    GROUP BY location
                    ORDER BY TotalDeathCount DESC
                    LIMIT 15""", engine)

In [9]:

#3.

d3 =     pd.read_sql("""SELECT 
                        Location, 
                        Population, 
                        MAX(total_cases) AS HighestInfectionCount,  
                        Max((total_cases/population))*100 AS PercentPopulationInfected

                        FROM CovidDeaths

                        GROUP BY Location, Population
                        ORDER BY PercentPopulationInfected DESC""", engine)

In [10]:
#4.


d4 = pd.read_sql("""SELECT 
                    Location, 
                    Population,
                    date, 
                    MAX(total_cases) AS HighestInfectionCount,  
                    Max((total_cases/population))*100 AS PercentPopulationInfected

                    FROM CovidDeaths

                    GROUP BY Location, Population, date
                    ORDER BY PercentPopulationInfected DESC""", engine)

In [16]:
d4 = d4.fillna(0)

In [17]:
d4

,Location,Population,date,HighestInfectionCount,PercentPopulationInfected
0,Andorra,77265.0,2021-04-30,13232.0,17.125477
1,Andorra,77265.0,2021-04-29,13198.0,17.081473
2,Andorra,77265.0,2021-04-28,13148.0,17.016760
3,Andorra,77265.0,2021-04-27,13121.0,16.981816
4,Andorra,77265.0,2021-04-26,13083.0,16.932634
...,...,...,...,...,...
85166,Bermuda,62273.0,2021-04-22,0.0,0.000000
85167,Bermuda,62273.0,2021-04-23,0.0,0.000000
85168,Bermuda,62273.0,2021-04-24,0.0,0.000000
85169,Bermuda,62273.0,2021-04-25,0.0,0.000000
85170,Bermuda,62273.0,2021-04-26,0.0,0.000000

In [21]:
d4.to_excel("d4.xlsx", index=False)